
/* ------------------------------------------------------
**** ATOMS
------------------------------------------------------ */

/* ---- Global Variables and font loading ---- */

@import "../_patterns/00-atoms/00-global/colors";

@import "../_patterns/00-atoms/00-global/fonts";

@import "../_patterns/00-atoms/00-global/font-face";

@import "../_patterns/00-atoms/00-global/breakpoints";

@import "../_patterns/00-atoms/00-global/animation";



/* ---- Base HTML ---- */

@import "../_patterns/00-atoms/01-base/viewport";

@import "../_patterns/00-atoms/01-base/box-model-reset";

@import "../_patterns/00-atoms/01-base/page";

@import "../_patterns/00-atoms/images/img";

@import "../_patterns/00-atoms/02-pattern-builders/container";

@import "../_patterns/00-atoms/02-pattern-builders/background-colours";

@import "../_patterns/00-atoms/02-pattern-builders/section";

@import "../_patterns/00-atoms/02-pattern-builders/block";

@import "../_patterns/00-atoms/02-pattern-builders/box";

@import "../_patterns/00-atoms/02-pattern-builders/content-align";

@import "../_patterns/00-atoms/02-pattern-builders/floats";




/* ---- Text ---- */

@import "../_patterns/00-atoms/text/headings";

@import "../_patterns/00-atoms/text/paragraph";

@import "../_patterns/00-atoms/text/inline-elements";

@import "../_patterns/00-atoms/text/hr";

@import "../_patterns/00-atoms/text/lists";

@import "../_patterns/00-atoms/text/inline-list";

@import "../_patterns/00-atoms/text/block-list";



/* ---- Buttons and links ---- */



@import "../_patterns/00-atoms/buttons-and-links/button";




/* ---- Images ---- */

@import "../_patterns/00-atoms/images/images";



/* ---- Forms ---- */


@import "../_patterns/00-atoms/tables/table";

@import "../_patterns/00-atoms/tables/content-table";

@import "../_patterns/00-atoms/tables/small-content-table";

@import "../_patterns/00-atoms/tables/responsive-table";




/* ---- Forms ---- */


@import "../_patterns/00-atoms/forms/range";

@import "../_patterns/00-atoms/forms/text-area";



/* ---- Helpers ---- */


@import "../_patterns/00-atoms/helpers/clearfix";

@import "../_patterns/00-atoms/helpers/img-replace";

@import "../_patterns/00-atoms/helpers/hidden";

@import "../_patterns/00-atoms/helpers/vis-hidden";

@import "../_patterns/00-atoms/helpers/invisible";

@import "../_patterns/00-atoms/helpers/_pseudo-element-content";



/* ------------------------------------------------------
**** MOLECULES
------------------------------------------------------ */

/* ---- Text ---- */

@import "../_patterns/01-molecules/text/blockquote";

@import "../_patterns/01-molecules/text/highlight";

@import "../_patterns/01-molecules/text/expando";

@import "../_patterns/01-molecules/text/site-messages";



/* ---- Lists ---- */


@import "../_patterns/01-molecules/lists/sidebar-linklist";

@import "../_patterns/01-molecules/lists/social-list";




/* ---- Navigation ---- */


@import "../_patterns/01-molecules/navigation/breadcrumb";

@import "../_patterns/01-molecules/navigation/primary-nav";


/* ---- Blocks ---- */


@import "../_patterns/01-molecules/blocks/tile";

@import "../_patterns/01-molecules/blocks/hero-banner";


/* ---- Forms ---- */


@import "../_patterns/01-molecules/forms/form-base";

@import "../_patterns/01-molecules/forms/checkboxes";

@import "../_patterns/01-molecules/forms/color-picker";

@import "../_patterns/01-molecules/forms/date-input";

@import "../_patterns/01-molecules/forms/date-picker";

@import "../_patterns/01-molecules/forms/date-time-input";

@import "../_patterns/01-molecules/forms/money";

@import "../_patterns/01-molecules/forms/radio-buttons";

@import "../_patterns/01-molecules/forms/range";

@import "../_patterns/01-molecules/forms/select";

@import "../_patterns/01-molecules/forms/text-area";

@import "../_patterns/01-molecules/forms/text-field";

@import "../_patterns/01-molecules/forms/time-pickers";

@import "../_patterns/01-molecules/forms/total-selector";

@import "../_patterns/01-molecules/forms/submit-bar";


/* ------------------------------------------------------
**** ORGANISMS
------------------------------------------------------ */

/* ---- Global ---- */

@import "../_patterns/02-organisms/00-global/header";

@import "../_patterns/02-organisms/00-global/footer";

@import "../_patterns/02-organisms/lists/tile-list";





/* ------------------------------------------------------
**** Templates
------------------------------------------------------ */




/* ------------------------------------------------------
**** Print styles
------------------------------------------------------ */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        -webkit-box-shadow: none !important;
                box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /* Don't show links for images, or javascript/internal links */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
