
<ul class="tile-list">
    <li class="tile-list__item">
        {{> @tile }}
    </li>
    <li class="tile-list__item">
        {{> @tile }}
    </li>
    <li class="tile-list__item">
        {{> @tile }}
    </li>
    <li class="tile-list__item">
        {{> @tile }}
    </li>
    <li class="tile-list__item">
        {{> @tile }}
    </li>
    <li class="tile-list__item">
        {{> @tile }}
    </li>
</ul>
