<blockquote class="{{ styleModifier }}">
    <p>An example of blockquote</p>
    <p>Fusce tempor libero quam, et semper sapien scelerisque efficitur. Quisque imperdiet nisl at urna facilisis consectetur. Sed at ullamcorper eros. Nulla luctus, risus id lobortis pellentesque, dui turpis pellentesque dui, in posuere leo leo in nibh. Aliquam ex tortor, fringilla in erat a, pretium malesuada justo.</p>
</blockquote>