
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sequi delectus earum quaerat quod adipisci, voluptatem ad quam. Delectus vitae esse praesentium quaerat ipsa nulla atque! Consequatur ex pariatur perspiciatis.</p>
<div class="expando">
<p>Expando without a heading. Aut saepe minus nesciunt asperiores ut dolores, laborum animi eligendi dicta accusamus quod deleniti pariatur, itaque voluptates commodi, delectus vero vitae inventore reprehenderit quam laudantium non reiciendis numquam nihil. Porro.</p>
</div>
<h2>Expando with h2 heading</h2>
<div class="expando">
<p>Incidunt modi laudantium fugit animi atque possimus, facere iusto eaque, sunt vitae. Suscipit provident, eos quas, voluptate rem ipsum ratione fuga nemo iure, voluptatem atque quae sed. Consequuntur, sint, cupiditate.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sequi delectus earum quaerat quod adipisci, voluptatem ad quam. Delectus vitae esse praesentium quaerat ipsa nulla atque! Consequatur ex pariatur perspiciatis.</p>
</div>
<h3>Expando with h3 heading</h3>
<div class="expando">
<p>Earum eos doloremque non perferendis consectetur recusandae mollitia provident quis molestiae reiciendis natus ex ea tempore laborum ut nostrum nesciunt nemo, rem maiores distinctio voluptatum laudantium cum. Repudiandae, veritatis, nesciunt!</p>
<p>Incidunt modi laudantium fugit animi atque possimus, facere iusto eaque, sunt vitae. Suscipit provident, eos quas, voluptate rem ipsum ratione fuga nemo iure, voluptatem atque quae sed. Consequuntur, sint, cupiditate.</p>
</div>
<h4>Expando with h4 heading</h4>
<div class="expando">
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus sequi delectus earum quaerat quod adipisci, voluptatem ad quam. Delectus vitae esse praesentium quaerat ipsa nulla atque! Consequatur ex pariatur perspiciatis.</p>
</div>