
<div class="section bg-{{ modifier }}">
    <h3>{{ text }}</h3>
    <p>Body text with <a href="/">a link</a></p>
    <a href="/"><img src="http://via.placeholder.com/250x80/000000/ffffff?text=image+link" alt=""></a>
</div>
