
<div class="block">
    <p>Normal block</p>
</div>

<div class="block-mb">
    <p>block with bottom margin only</p>
</div>

<div class="block-large">
    <p>Large block</p>
</div>

<div class="block-mb-large">
    <p>Large block with bottom margin only</p>
</div>