<div class="-invisible" style="padding: 20px;background: blue;">
    <p style="visibility: visible;">My parent is invisible but as a child element with <code>visibility: visible;</code> I am not.</p>
</div>
