
<div class="col--left-align">
    <code>col--left-align</code>
</div>

<div class="col-sm--left-align">
    <code>col-sm--left-align</code>
</div>

<div class="col-md--left-align">
    <code>col-md--left-align</code>
</div>

<div class="col-lg--left-align">
    <code>col-lg--left-align</code>
</div>

<br>

<div class="col--right-align">
    <code>col--right-align</code>
</div>

<div class="col-sm--right-align">
    <code>col-sm--right-align</code>
</div>

<div class="col-md--right-align">
    <code>col-md--right-align</code>
</div>

<div class="col-lg--right-align">
    <code>col-lg--right-align</code>
</div>

<br>

<div class="col--center-align">
    <code>col--center-align</code>
</div>

<div class="col-sm--center-align">
    <code>col-sm--center-align</code>
</div>

<div class="col-md--center-align">
    <code>col-md--center-align</code>
</div>

<div class="col-lg--center-align">
    <code>col-lg--center-align</code>
</div>