<div class="hero-banner">
    <img class="hero-banner__img" src="http://placehold.it/3000x900/48b183/ffffff?text=c3000x900-ct~30" alt="">

    <div class="hero-banner__text">
        <div class="container">

            <h2>{{ hero-banner.heading }}</h2>

            <p>{{ hero-banner.description }}</p>

            <p>{{> @button }}</p>
        </div>
    </div>
</div>
