<div class="hero-banner-02">
    <img class="hero-banner-02__img" src="{{ hero-banner.img }}" alt="">

    <div class="hero-banner-02__text">
        <div class="container">

            <h2>{{ hero-banner.heading }}</h2>

            <p>{{ hero-banner.description }}</p>

            <p>{{> @button }}</p>
        </div>
    </div>
</div>
