
.field-element.field-element--timepicker .field-input .textbox {
    padding-left: 55px;
    background-image: url(../images/form-icons.svg),
    url(../images/form-icons.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -175px left 12px, top -447px left 0;
}

/* Timepicker modal */
.ui-timepicker {
    display: block;
    position: absolute;
    height: 200px;
    overflow: auto;
    z-index: 9999 !important;
}

.ui-timepicker-standard {
    background-color: #FFF;
    border: 1px solid #CED2DC;
    display: block;
    margin: 3px 0 0;
    padding: 5px;
    list-style: none outside none;
    border-radius: 4px;
}

.ui-timepicker-standard a {
    color: #24292f;
}

.ui-timepicker-standard .ui-state-hover {
    background-color: #EAECF1;
}

.ui-timepicker-standard .ui-menu-item {
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

.ui-timepicker-standard .ui-menu-item a {
    display: block;
    padding: 5px 10px;
    line-height: 1.5;
    text-decoration: none;
    border-radius: 3px;
}

.ui-timepicker-hidden {
    display: none;
}

/* White */
.field-element.field-element--timepicker.field-element--white .field-input .textbox {
    background-position: top -175px left 12px, top -607px left 0;
}

/* BP small */
@media screen and (min-width: 48em) { /* 768px */
    .field-element.field-element--timepicker .field-input .textbox {
        background-position: top -170px left 12px, top -447px left 0;
    }
    /* White */
    .field-element.field-element--timepicker.field-element--white .field-input .textbox {
        background-position: top -170px left 12px, top -607px left 0;
    }
}



