
<div class="field-element field-element--text field-element--white field-element--hidden-label">

    <div class="field-label">

        <label for="fm-site-search">Search the Sprout3 test website</label>

    </div>

    <div class="field-input">

        <input id="fm-site-search" class="textbox" name="q" value="" placeholder="Enter your search here" type="text">

    </div>

</div>

{{> atoms-button:button--alt }}