
<div class="field-label">
    <label for="field1">Select</label>
</div>
<div class="field-input">
    <select id="field1" class="dropdown" name="dropdown">
        <option value="" class="dropdown-top">Select an option</option>
        <option value="0" selected="">Lol</option>
        <option value="1">Rofl</option>
        <option value="2">Lmao</option>
    </select>
</div>

<br>

<div class="field-label">
    <label for="field2">Select tree
    </label>
</div>
<div class="field-input">
    <select id="field2" name="dropdown_tree">
        <option value="" class="dropdown-top">Select an option</option>
        <option value="10">A</option>
    </select>
</div>