
/*
1. Match heights
2. Slide Styles
*/

.slick-slide {
    height: 100%; /* [1] */
}

.slider__slide {
    display: flex; /* [1] */
    flex-flow: column nowrap; /* [1] */
    justify-content: space-between; /* [1] */
    height: 100%; /* [1] */

    text-decoration: none; /* [2] */
    background: $color-grey-05; /* [2] */
}
