
.bg-white {
    background-color: $color-white;
}

.bg-lightgrey {
    background-color: $color-gray-10;
}

.bg-navyblue {
    background-color: $color-brand-navy;
}

.bg-orange {
    background-color: $color-brand-orange;
}

.bg-green {
    background-color: $color-brand-green;
}

.reverse-text {
    color: $color-white;
}

.reverse-text a {
    color: inherit;
    opacity: .7;
}

.reverse-text a:hover,
.reverse-text a:focus,
.reverse-text a:active {
    opacity: 1;
}
