
<div class="section bg-lightgrey">
    <p>Normal section</p>
</div>


<div class="section-small bg-white">
    <p>Small section</p>
</div>

<div class="section-large bg-lightgrey">
    <p>Large section</p>
</div>


