<div class="widget widget-RelatedLinks widget-hasinfobox orientation-tall">

    <h3 class="widget-title">Widgets</h3>

    <ul class="depth1">
        <li class="depth1 on">
            <a href="/about">Widgets</a>
        </li>
        <li class="depth1">
            <a href="#">Widgets for testing</a>

            <ul class="depth2">
                <li class="depth2">
                    <a href="#">House cleaning</a>
                </li>
                <li class="depth2 on">
                    <a href="#">Corporate cleaning</a>

                    <ul class="depth3">
                        <li class="depth3"><a href="">A lovely test</a></li>
                        <li class="depth3"><a href="">A really lovely long test for line height testing</a></li>
                        <li class="depth3"><a href="">Why am I always last?</a></li>
                    </ul>
                </li>
                <li class="depth2">
                    <a href="#">Teenage bedroom cleaning</a>
                </li>
                <li class="depth2">
                    <a href="#">blarblar-1234</a>
                </li>
                <li class="depth2">
                    <a href="#">blarblar-123</a>
                </li>
            </ul>

        </li>
        <li class="depth1">
            <a href="#">Video Gallery</a>
        </li>
        <li class="depth1">
            <a href="#">A lovely test</a>
        </li>
    </ul>
</div>