
.button {
    display: inline-block;
    margin-bottom: 0;
    white-space: normal;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: $color-white;
    background-color: $color-accent-01;
    text-decoration: none;
    border-radius: 3px;
    border: none;
    outline: none;
    opacity: 1;
    position: relative;
    text-transform: lowercase;
    font-family: $primary-font;
    font-weight: $primary-font-weight;
    line-height: 1;
    transition: all 250ms ease-in-out;
    font-weight: 600;
}


.button:hover,
.button:focus,
.button:active {
    background-color: darken($color-accent-01, 10%);
    color: $color-white;
}


/* Small */
.button,
.button-small,
.button--small {
    font-size: 1.6rem;
    line-height: 1;
    padding: $spacing $spacing*1.5 $spacing;
}


/* - Button icons - */
.button__icon {
    display: inline-block;
    vertical-align: top;
    width: $spacing--medium;
    height: $spacing--medium;
}


.button__icon--right {
    margin-left: $spacing--xsmall;
    margin-right: -($spacing--xxsmall);
}

.button__icon--left {
    margin-right: $spacing--xsmall;
    margin-left: -($spacing--xxsmall);
}

.button__icon svg {
    width: 16px;
    height: 16px;
}

.button__icon svg path {
    fill: $color-white;
    transition: fill 250ms ease-in-out;
}

.button__icon--primary svg path {
    fill: $color-primary;
}

.button__icon--secondary svg path {
    fill: $color-secondary;
}

.button:hover .button__icon--light-purple svg path {
    fill: $color-white;
}


/* - Button styles - */


.reverse-text .button:hover,
.reverse-text .button:focus,
.reverse-text .button:active {
    opacity: 1;
}

/* Alternative */
.button--alt {
    background-color: $color-primary;
    color: $color-white;
}

.button--alt:hover,
.button--alt:focus {
    background-color: darken($color-primary, 10%);
    color: $color-white;
}

/* Red Warning Button */
.button--warning {
    background-color: $color-utility-warning;
    color: $color-white;
}

.button--warning:hover,
.button--warning:focus {
    background-color: darken($color-utility-warning, 10%);
    color: $color-white;
}

/* Grey */
.button--neutral {
    background-color: $color-grey-10;
    color: $color-grey-73;
}

.button--neutral:hover,
.button--neutral:focus {
    background-color: $color-grey-15;
    color: $color-grey-73;
}

.button--neutral svg path{
    fill: $color-grey-73;
}

/* Green */
.button--positive {
    background-color: $color-utility-positive-subtle;
    color: $color-white;
}

.button--positive:hover,
.button--positive:focus {
    background-color: $color-utility-positive;
    color: $color-white;
}

/* Block */
.button--block {
    display: block;
    width: 100%;
}

/* Disabled/unavailable button style */
.button[disabled],
.button--disabled,
.button--disabled:hover,
.button--disabled:focus,
.button--disabled:active {
    border: none;
    opacity: 0.4;
    cursor: default;
    -webkit-box-shadow: none;
            box-shadow: none;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}



/* BP small */
@media screen and (min-width: 48em) { /* 768px */
    /* Regular */
    .button {
        padding: $spacing*1.5 $spacing--medium $spacing*1.5;
        line-height: 1;
    }
    .button-small,
    .button--small {
        padding: $spacing $spacing*1.5 $spacing;
    }

}

/* BP medium */
@media only screen and (min-width: 62em) { /* 992px */
    /* Large */
    .button-large,
    .button--large {
        font-size: 2.4rem;
        padding: $spacing--medium $spacing--xlarge;
    }

    .button--large .button__icon {
        width: $spacing--medium*1.5;
        height: $spacing--medium*1.5;
    }

    .button--large .button__icon svg {
        width: $spacing--medium*1.5;
        height: $spacing--medium*1.5;
    }

    .button--large .button__icon--right {
        margin-left: $spacing--xsmall;
        margin-right: -($spacing);
    }

    .button--large .button__icon--left {
        margin-right: $spacing--xsmall;
        margin-left: -($spacing);
    }

}
