<!--[if IE]><div class="old-browser"><p>This website uses modern construction techniques, which may not render correctly in your old browser. <br>We recommend updating your browser for the best online experience.</p> <p>Visit <a href="http://browsehappy.com/">browsehappy.com</a> to help you select an upgrade.</p></div><![endif]-->

<a class="-vis-hidden" href="#content">Skip to Content</a>

{{> @mobile-header }}

<div id="wrap">

    {{> @header }}

    {{> @hero-banner-01 }}

    <div class="section bg-lightgrey">
        <div class="container">

            {{> @tile-list }}

        </div>
    </div>

    <div id="content" class="section section--content bg-white">

        <div class="container">

            <div class="mainbar">

                <h1>A Sprout Site</h1>

                <p>A lovely content area</p>

            </div>

        </div>

    </div>

    {{> @footer }}

</div>
