<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #2a333e;"></span>
		<span class="sg-label">
			$color-brand-navy <br />
			#2a333e
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f77450;"></span>
		<span class="sg-label">
			$color-brand-orange <br />
			#f77450
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #35ab75;"></span>
		<span class="sg-label">
			$color-brand-green <br />
			#35ab75
		</span>
	</li>
</ul>