<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #28943e;"></span>
		<span class="sg-label">
            $color-utility-positive <br />
            #28943e
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #35ab4d;"></span>
		<span class="sg-label">
			$color-utility-positive-subtle <br />
			#35ab4d
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d06041;"></span>
		<span class="sg-label">
			$color-utility-caution <br />
			#d06041
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f77450;"></span>
		<span class="sg-label">
			$color-utility-caution-subtle <br />
			#f77450
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #a23947;"></span>
		<span class="sg-label">
			$color-utility-negative <br />
			#a23947
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #ce6976;"></span>
		<span class="sg-label">
			$color-utility-negative-subtle <br />
			#ce6976
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #0192d0;"></span>
		<span class="sg-label">
			$color-utility-neutral <br />
			#0192d0
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #d3f2ff;"></span>
		<span class="sg-label">
			$color-utility-neutral-subtle <br />
			#d3f2ff
		</span>
	</li>
</ul>