<div>Primary font: 'Montserrat', Helvetica, Arial, sans-serif;</div>
<br>
<div><em>Primary font italic: 'Montserrat', Helvetica, Arial, sans-serif;</em></div>
<br>
<div><strong>Primary font bold: 'Montserrat', Helvetica, Arial, sans-serif;</strong></div>
<br><br>
<div class="font-secondary">Secondary font: 'Montserrat', Helvetica, Arial, sans-serif;</div>
<br>
<div class="font-secondary"><em>Secondary font italic: 'Montserrat', Helvetica, Arial, sans-serif;</em></div>
<br>
<div class="font-secondary"><strong>Secondary font bold; 'Montserrat', Helvetica, Arial, sans-serif;</strong></div>
