

// Brand colours

$color-brand-navy: 					#2a333e;

$color-brand-orange: 				#f77450;

$color-brand-green: 				#35ab75;


$primary-font: 'Montserrat', Helvetica, Arial, sans-serif;

$secondary-font: 'Montserrat', Helvetica, Arial, sans-serif;

