


<div class="demo-animate">
    <strong>Fade In Down:</strong> Duration: 0.4s Easing: ease-in-out (Hover to see effect)
    <p class="demo-animate__item">Some extra text to show the demo</p>
</div>


