/* ---- Events details ---- */
.event-detail__image {
    margin-bottom: 30px;
}
.event-detail__description {
    margin: 30px 0;
}

.event-detail__time__row {
    margin-bottom: 1rem;
}

/* ---- Events list ---- */
.event-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
}

.event-list__item {
    border-bottom: 1px solid #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.event-list__item__date {
    text-align: center;
}

.event-list__item__date span {
    display: block;
}

.event-list__item__date-day {
    font-size: 3.5rem;
}
.event-list__item__date-month {
}
.event-list__item__date-year {
}

.event-list__item__text {
}

.event-list__item__text__image {
}

.widget-MapWidget {
    margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
    .event-list__item__text__image {
        display: none;
    }
}
