<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<ul class="slider">
	{{#each slider.slider-items }}
	<li>
	    <a href="{{ slider.link }}">
	    	<img src="{{ slider.img }}" alt="{{ slider.img-alt-text }}">
	    </a>
	</li>
	{{/each}}

</ul>

<script>
	$('.slider').slick({
		arrows: false,
		dots: true,
		autoplay: true		
	});
</script>