<div class="widget widget-ChildrenGallery widget-hasinfobox orientation-wide">
    <ul class="children-gallery-list row">


        <li class="children-gallery-list-item col-xs-6 col-sm-4 col-md-3">
            <a href="" class="children-gallery-list-item-link">
                <img src="http://placehold.it/600x520" class="children-gallery-list-item-image" alt="" role="presentation">
                <p class="children-gallery-list-item-title">Page title 1</p>
            </a>
        </li>


        <li class="children-gallery-list-item col-xs-6 col-sm-4 col-md-3">
            <a href="" class="children-gallery-list-item-link">
                <div class="children-gallery-list-item-image-placeholder"></div>
                <p class="children-gallery-list-item-title">A very very very very long page title name for testing</p>
            </a>
        </li>


        <li class="children-gallery-list-item children-gallery-item-mod2 col-xs-6 col-sm-4 col-md-3">
            <a href="" class="children-gallery-list-item-link">
                <div class="children-gallery-list-item-image-placeholder"></div>
                <p class="children-gallery-list-item-title">Page title 3</p>
            </a>
        </li>

        <li class="children-gallery-list-item col-xs-6 col-sm-4 col-md-3">
            <a href="" class="children-gallery-list-item-link">
                <div class="children-gallery-list-item-image-placeholder"></div>
                <p class="children-gallery-list-item-title">Page title 4</p>
            </a>
        </li>


        <li class="children-gallery-list-item col-xs-6 col-sm-4 col-md-3">
            <a href="" class="children-gallery-list-item-link">
                <div class="children-gallery-list-item-image-placeholder"></div>
                <p class="children-gallery-list-item-title">Page title 5</p>
            </a>
        </li>
    </ul>
</div>