

<div class="field-label">
    <label for="field20">Colour picker
</label>
</div>
<div class="field-input">
    <input id="field20" class="textbox colorpicker" name="colorpicker" value="" type="color">
</div>