

// Brand colours

$color-primary: 					#2a333e; // NAVY

$color-secondary:                   #f77450; // ORANGE

$color-secondary--hover: 			darken($color-secondary, 40%);

$color-alternative:                 #EE4266; // optional - unused

$color-accent-01: 				    #35ab75; // GREEN

$color-accent-02:                   #FFD23F; //optional - unused


// Neutral Colours

$color-white:						#ffffff;

$color-grey-05:                     #f2f2f2;

$color-grey-10:						#e5e5e5;

$color-grey-15:						#d9d9d9;

$color-grey-20:						#cccccc;

$color-grey-35:						#a5a5a5;

$color-grey-50:						#808080;

$color-grey-65:						#595959;

$color-grey-73:						#444444;

$color-grey-87:						#222222;

$color-black:						#000000;


// Utility Colours

$color-utility-positive:			#0E6F22;

$color-utility-positive-subtle:		#26883A;

$color-utility-alert:				#A72D00;

$color-utility-alert-subtle:		#CD4C1D;

$color-utility-warning:				#9E0E0B;

$color-utility-warning-subtle:		#C32C2A;

$color-utility-neutral:				#0192d0;

$color-utility-neutral-subtle:		#d3f2ff;
