

// Brand colours

$color-primary: 					#2a333e; // NAVY

$color-secondary: 				    #f77450; // ORANGE

$color-alternative:                 #EE4266; // optional - unused

$color-accent-01: 				    #35ab75; // GREEN

$color-accent-02:                   #FFD23F; //optional - unused


// Neutral Colours

$color-white:						#ffffff;

$color-gray-10:						#e5e5e5;

$color-gray-15:						#d9d9d9;

$color-gray-35:						#a5a5a5;

$color-gray-50:						#808080;

$color-gray-65:						#595959;

$color-gray-73:						#444444;

$color-gray-87:						#222222;

$color-black:						#000000;


// Utility Colours

$color-utility-positive:			#28943e;

$color-utility-positive-subtle:		#35ab4d;

$color-utility-caution:				#d06041;

$color-utility-caution-subtle:		#f77450;

$color-utility-negative:			#a23947;

$color-utility-negative-subtle:		#ce6976;

$color-utility-neutral:				#0192d0;

$color-utility-neutral-subtle:		#d3f2ff;
