<div class="section bg-primary reverse-text">
    <h3>Primary colour section with reverse text</h3>
    <p>Body text with <a href="/">a link</a></p>
    <a href="/"><img src="http://via.placeholder.com/250x80/000000/ffffff?text=image+link" alt=""></a>
</div>

<div class="section bg-secondary reverse-text">
    <h3>Secondary colour section with reverse text</h3>
    <p>Body text with <a href="/">a link</a></p>
    <a href="/"><img src="http://via.placeholder.com/250x80/000000/ffffff?text=image+link" alt=""></a>
</div>

<div class="section bg-accent-01 reverse-text">
    <h3>Accent colour 1 section with reverse text</h3>
    <p>Body text with <a href="/">a link</a></p>
    <a href="/"><img src="http://via.placeholder.com/250x80/000000/ffffff?text=image+link" alt=""></a>
</div>
