<h1>Stay Smart Online Week 2014</h1>

{{> @breadcrumb }}

<div class="post-view">

    <div class="post-view__header">
        <img src="file/resize/c1000x600-ct%7E70/1_broad-beans-rectangle.jpg?s=dafb30d35b2a70abff57d48f48febaa8b6ed3955" alt="Article image for Test post 1" itemprop="image" class="post-view__image">

        <div class="row">

            <div class="col-xs-6 post-view__author">
                <p>Posted by <a href="posts/author/Test mcTestington">Test mcTestington</a></p>
            </div>

            <div class="col-xs-6 col--right-align post-view__date">
                <p><span class="-vis-hidden">Date posted: </span><time datetime="2019-02-06" itemprop="datePublished"><span>6 Feb 2019</span></time></p>
            </div>

        </div>

    </div>

    <div class="post-view__body">
        <p>Stay Smart Online Week takes place from June 2-6.</p><p>With Australians seemingly sharing more and more of their information online with each passing day, cybercrime has become one of this country's most common and dangerous threats. Recent hacking attacks on Apple and eBay have proved that cyber criminals are getting bolder with their targets. Add to this the fact that Australians transfer at least $7 million each month directly into the bank accounts of international fraudsters and it's abundantly clear that cyber security should be top of mind for all of us.</p><p>Visit the Stay Smart Online Website at www.staysmartonline.gov.au where you can find more information and helpful resources for you and your family, like the free Stay Smart Online Alert Service. <br></p><p>Open discussion within your home regarding safe internet use. Secure all your devices, protect online accounts and protect your child.</p><p>Look at the privacy settings on social networking sites and apps and be sure that your child or teen understands the importance of never sharing personal and private information with strangers online.</p><p>Remember, there is no such thing as privacy online.</p><p>&nbsp;</p>    </div>

        <div class="post-view__footer">

        <div class="post-view__cloud post-view__cloud--categories">
            <p>
                <span class="-vis-hidden">View similar posts categorised as:</span>
                <a class="button button-small" href="posts/category/all">all</a>
            </p>
        </div>
    </div>

</div>


