.field-element.field-element--datepicker .field-input .textbox,
.field-element.field-element--daterangepicker .field-input .textbox {
    padding-left: 55px;
    background-image: url(../images/form-icons.svg),
    url(../images/form-icons.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top 6px left 12px, top -447px left 0;
}

/* White */
.field-element.field-element--datepicker.field-element--white .field-input .textbox,
.field-element.field-element--daterangepicker.field-element--white .field-input .textbox {
    background-position: top 7px left 12px, top -607px left 0;
}


/* BP small */
@media screen and (min-width: 48em) { /* 768px */
    .field-element.field-element--datepicker .field-input .textbox,
    .field-element.field-element--daterangepicker .field-input .textbox {
        background-position: top 11px left 12px, top -447px left 0;
    }
    /* White */
    .field-element.field-element--datepicker.field-element--white .field-input .textbox,
    .field-element.field-element--daterangepicker.field-element--white .field-input .textbox {
        background-position: top 11px left 12px, top -607px left 0;
    }
}
