/* - Date/time picker - */
.field-element--datetimepicker .field-input,
.field-element--datetimerangepicker .field-input {
    position: relative;
}

.field-element--datetimepicker .field-input:before,
.field-element--datetimerangepicker .field-input:before {
    content: "\00a0";
    display: block;
    position: absolute;
    left: $spacing--xxsmall;
    top: calc(50% - 12px);
    width: $spacing*5;
    background-image: url(../images/icon-system/icon_form_datetimepicker.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border-right: 1px solid $color-grey-20;
}

.field-element--datetimepicker .field-input .textbox,
.field-element--datetimerangepicker .field-input .textbox {
    padding-left: $spacing*6.5;
}
