form > * + * {
    margin-top: $form-spacing*2;
}

@media screen and (min-width: 48em) { /* 768px */
    form > * + * {
        margin-top: $form-spacing*2;
    }
}

 /* All form elements with preceeding icon */
 .field-element--datepicker .field-input .textbox,
 .field-element--daterangepicker .field-input .textbox,
 .field-element--money .field-input .textbox {
     padding-left: $form-spacing*6.5;
 }

 /* Clearfix all field-elements */
.field-element:before,
.field-element:after {
    content: " ";
    display: table;
}

.field-element:after {
    clear: both;
}

/* ---- form colour varients ---- */
/* ---- default ---- */
.field-input input {
    border: 1px solid $color-grey-20;
    border-radius: $standard-radius;
    background-color: $color-grey-05;
}

/* ---- white ---- */
.field-element--white .field-input input {
    background-color: $color-white;
}
%form-field-pseudo-anchor--before {
    position: absolute;
    top: -$form-spacing;
    left: $form-spacing*2;
    display: inline-block;
    border-right: $form-spacing solid transparent;
    border-bottom: $form-spacing solid $color-grey-20;
    border-left: $form-spacing solid transparent;
    border-bottom-color: $color-grey-20;
    content: '';
}
%form-field-pseudo-anchor--after {
    position: absolute;
    top: -$form-spacing + 1;
    left: $form-spacing * 2 + 1;
    display: inline-block;
    border-right: $form-spacing - 1 solid transparent;
    border-bottom: $form-spacing - 1 solid #fff;
    border-left: $form-spacing - 1 solid transparent;
    content: '';
}
