form > * + * {
    margin-top: $spacing--medium;
}

@media screen and (min-width: 48em) { /* 768px */
    form > * + * {
        margin-top: $spacing--medium;
    }
}

 /* All form elements with preceeding icon */
 .field-element--datepicker .field-input .textbox,
 .field-element--daterangepicker .field-input .textbox,
 .field-element--money .field-input .textbox {
     padding-left: $spacing*6.5;
 }

 /* Clearfix all field-elements */
.field-element:before,
.field-element:after {
    content: " ";
    display: table;
}

.field-element:after {
    clear: both;
}

/* ---- form colour varients ---- */
/* ---- default ---- */
.field-input input {
    border: 1px solid $color-grey-20;
    border-radius: $border-radius;
    background-color: $color-grey-05;
}

/* ---- white ---- */
.field-element--white .field-input input {
    background-color: $color-white;
}
