
/* Radio button (pseudo element) */
.field-element input[type="radio"] + label:before,
.field-element.field-element--small input[type="radio"] + label:before {
    border-radius: 12px;
}

/* Radio dot (pseudo element) */
.field-element input[type="radio"]:checked + label:after,
.field-element.field-element--small input[type="radio"]:checked + label:after {
    left: 6px;
    top: 9px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #58595B;
}

/* White */
.field-element.field-element--white input[type="checkbox"] + label:before,
.field-element.field-element--white input[type="radio"] + label:before {
    background-color: #FFF;
}

/* BP small */
@media screen and (min-width: 48em) { /* 768px */

    /* Radio outer */
    .field-element input[type="radio"] + label:before {
        border-radius: 12px;
    }

    /* Radio dot (pseudo element) */
    .field-element input[type="radio"]:checked + label:after {
        left: 7px;
        top: 11px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
    }
}
