.submit-bar {
    text-align: right;
    background: $color-grey-10;
    padding: 15px;
    margin: 15px 0;
}

.sidebar .submit-bar {
    padding: 10px 0;
}

.submit-bar a {
    margin-right: 20px;
}
