
<fieldset class="fieldset--checkboxboollist">
    <legend class="fieldset__legend">Checkbox list</legend>
    <div class="field-element__input-set">
        <div class="fieldset-input">
            <input id="fb2" name="box1" value="1" type="checkbox">
            <label for="fb2">I'm a checkbox</label>
        </div>
        <div class="fieldset-input">
            <input id="fb3" name="box2" value="1" type="checkbox">
            <label for="fb3">Don't judge me</label>
        </div>
    </div>
</fieldset>