
<fieldset class="fieldset--multiradio">
    <legend class="fieldset__legend">Multiradio</legend>
    <div class="field-element__input-set">
        <div class="fieldset-input">
            <input id="fb0" name="multiradio" value="box1" type="radio">
            <label for="fb0">I'm a checkbox</label>
        </div>
        <div class="fieldset-input">
            <input id="fb1" name="multiradio" value="box2" type="radio">
            <label for="fb1">Don't judge me</label>
        </div>
    </div>
</fieldset>
