<div class="site-search-form"><form action="/search" method="get">

    <div class="field-element-attach-wrapper">
        <div class="field-element field-element--text field-element--hidden-label">
            <div class="field-label">
                <label for="fm-site-search">Search the Sprout3 test website</label>
            </div>
            <div class="field-input">
                <input id="fm-site-search" class="textbox" name="q" value="" placeholder="Enter your search here" type="text">
            </div>
        </div>
        <button type="submit" class="field-element-attach-wrapper__button">
            <span class="-vis-hidden">Search</span>
            <svg class="icon icon-search"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg>
        </button>
    </div>

</form>
</div>