<div class="dca js--dca">
	<div class="dca__inner">
		<header>
			<p class="dca__title">Custom amount:</p>
			<p class="dca__subtitle">$500</p>
			<div class="dca__buttons">
				<button class="dca__button dca__button--confirm button button-grey button-no-arrow js--donation-btn" type="button" data-amt="500">Confirm</button>
				<div class="dca__button dca__button--clear button js--donation-close-btn">Cancel and close donating a custom amount</div>
			</div>
		</header>
		<div class="dca__body">
			<div class="dca__slider">
				<p class="dca__slider__value-min">$10</p>
				<p class="dca__slider__value-max">$1000</p>
				<input label="Donation Amount" class="js--donation-slider" type="range" min="10" max="1000" step="5">
				<input label="Donation Amount" class="js--donation-slider-text" type="text" min="10" max="1000" step="100">
			</div>
		</div>
	</div>
</div>
