
<div class="field-element field-element--text">
    <div class="field-label">
        <label for="field0">Text</label>
    </div>

    <div class="field-input">
        <input id="field0" class="textbox" name="textz" value="" type="text">
    </div>
</div>

