<div class="hero-banner">
    <img class="hero-banner__img" src="{{ img.hero-banner.src }}" alt="">

    <div class="hero-banner__text">
        <div class="container">

            <p>It's a brand new website</p>

            <p><a class="button button-large" href="services">Our services</a></p>
        </div>
    </div>
</div>
