<div class="tile">
    <div class="tile__inner">
        <div class="tile__img">
            <img src="{{ img.landscape-4x3.src }}">
        </div>

        <div class="tile__content">

            <h3 class="tile__content__heading">Heading</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quaerat dolor cupiditate at rerum ullam odio, tenetur iste enim repudiandae...</p>


            {{> atoms-button }}

        </div>
    </div>
</div>

