<form method="" action="">

    <div class="field-element field-element--text field-element--white field-element--hidden-label">
        <div class="field-label">
            <label for="enews-first-name">First name</label>
        </div>
        <div class="field-input">
            <input id="enews-first-name" class="textbox" type="text" name="enews-first-name" placeholder="Name">
        </div>
    </div>
    <div class="field-element field-element--text field-element--white field-element--hidden-label">
        <div class="field-label">
            <label for="enews-email">Email</label>
        </div>
        <div class="field-input">
            <input id="enews-email" class="textbox" type="text" name="enews-email" placeholder="Email Address">
        </div>
    </div>

    <button type="submit" class="button">Sign up</button>

</form>