
<div class="field-element field-element--upload">
    <div class="field-label">
        <label for="field7">Upload
        </label>
    </div>
    <div class="field-input">
        <input id="field7" class="upload" type="file" name="upload">
    </div>
</div>
