

  <div class="field-element field-element--upload field-element--upload-inline">
      <div class="field-input">

          <input id="field7" class="upload js-inline-upload" type="file" name="upload">

          <label for="field7">Select a document:</label>

      </div>
  </div>


<script>
    $(document).ready(function() {
        var inputs = document.querySelectorAll( '.js-inline-upload' );

        Array.prototype.forEach.call( inputs, function( input ) {
          var label = input.nextElementSibling,
                      labelVal = label.innerHTML;

          input.addEventListener( 'change', function( e ) {
            var fileName = '';

            if ( this.files &amp;&amp; this.files.length > 1 ) {
              fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
            } else {
              fileName = e.target.value.split( '\\' ).pop();
            }

            if ( fileName ) {
              label.querySelector( 'span' ).innerHTML = fileName;
            } else {
              label.innerHTML = labelVal;
            }
          });
        });
    });

</script>
