h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0 0 1.5rem 0;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-weight: bold;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;
    color: #8a7b7b;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
    margin-top: 3rem;
}


h1, .h1 {
    font-size: 4.4rem;
    line-height: 4.8rem;
}

h2, .h2 {
    font-size: 3.1rem;
    line-height: 4.8rem;
}

h3, .h3 {
    font-size: 2.1rem;
    margin-bottom: 0;
}

h4, .h4 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

h5, .h5 {
    font-size: 1.8rem;
    margin-bottom: 0;
}

h6, .h6 {
    font-size: 1.6rem;
}

p,
ol,
ul,
dl,
address {
    margin: 0 0 1.5rem;
}

small {
    font-size: 1.28rem;
}


/* BP Smaller */
@media screen and (min-width: 35em) { /* 560px */

    h1, .h1 {
        font-size: 6.8rem;
        line-height: 7.2rem;
    }

    h2, .h2 {
        font-size: 4.2rem;
        line-height: 4.8rem;
    }

    h3, .h3 {
        font-size: 2.6rem;
        margin-bottom: 0.75rem;
    }

    h4, .h4 {
        font-size: 1.8rem;
    }

    h5, .h5 {
        font-size: 1.8rem;
        margin-bottom: 0;
    }

}

