<ul class="breadcrumb">
    <li>
        <a href="{{ breadcrumbLink }}">{{ breadcrumbText }}</a>
    </li>
    <li>
        <a href="{{ breadcrumbLink }}">{{ breadcrumbText }}</a>
    </li>
    <li>
        <a href="{{ breadcrumbLink }}">{{ breadcrumbText }}</a>
    </li>
    <li>
        <span>{{ breadcrumbText }}</span>
    </li>
</ul>