
<p class="-r-arrow-after">Right arrow after</p>

<p class="-r-arrow-before">Right arrow before</p>

<p class="-l-arrow-after">Right arrow after</p>

<p class="-l-arrow-before">Right arrow before</p>

<p class="ellipsis-2">2 ellipsis suffix</p>

<p class="ellipsis-3">3 ellipsis suffix</p>
