.hero-banner-03 {
    background-color: $color-grey-10;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% auto;
    position: relative;
}

.hero-banner-03:before {
    content: '';
    display: block;
    padding-top: 45%
}

@media screen and (min-width:  48em) { /* 768px */
    .hero-banner-03:before {
        padding-top: 74.45%;
    }
    .hero-banner-03__content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media only screen and (min-width: 75em) { /* 1200px */
    .hero-banner-03:before {
        padding-top: 56.45%;
    }
}