<div class="box bg-navyblue">
    <img src="../../../images/icon-system/icon_calendar.svg">
    <br>
    <img src="../../../images/icon-system/icon_email.svg">
    <br>
    <img src="../../../images/icon-system/icon_facebook.svg">
    <br>
    <img src="../../../images/icon-system/icon_instagram.svg">
    <br>
    <img src="../../../images/icon-system/icon_linkedin.svg">
    <br>
    <img src="../../../images/icon-system/icon_pinterest.svg">
    <br>
    <img src="../../../images/icon-system/icon_search.svg">
    <br>
    <img src="../../../images/icon-system/icon_twitter.svg">
    <br>
    <img src="../../../images/icon-system/icon_youtube.svg">
</div>








