<p>Sed fermentum condimentum purus, nec viverra nulla vestibulum dictum. Morbi pulvinar mi lectus, non venenatis ligula egestas in. Phasellus a dignissim lacus, eget pharetra odio. Quisque lacinia porttitor volutpat. Suspendisse sodales neque sem, at rutrum tellus dignissim at.</p>

<div class="highlight">
    <h2>A highlight box - this is a h2</h2>
    <p>Aliquam erat volutpat. Vestibulum nec lobortis mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec dui vitae magna varius sodales.</p>
    <h3>A highlight box - this is a h3</h3>
    <p>Aliquam erat volutpat. Vestibulum nec lobortis mi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec dui vitae magna varius sodales.</p>
</div>
<p>Sed fermentum condimentum purus, nec viverra nulla vestibulum dictum. Morbi pulvinar mi lectus, non venenatis ligula egestas in. Phasellus a dignissim lacus, eget pharetra odio. Quisque lacinia porttitor volutpat. Suspendisse sodales neque sem, at rutrum tellus dignissim at.</p>

<div class="highlight--right">
    <h4>highlight--right</h4>
    <p>Quisque congue pharetra maximus. Aliquam hendrerit tortor metus, nec auctor lacus mollis a. Integer justo quam, vehicula a euismod molestie, imperdiet vitae sapien.</p>
</div>
<p>Vivamus eu lacinia risus. Etiam consequat leo a mollis pretium. Aenean pharetra gravida mi, non fringilla urna bibendum eu. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tristique consectetur risus, sit amet dictum turpis egestas sed. Pellentesque sed mauris mollis risus sodales hendrerit. Sed ornare velit vitae ante pellentesque bibendum. Fusce molestie consectetur fermentum. Proin a ultricies est.</p>
<div class="highlight--left">
    <h4>highlight--left</h4>
    <p>Phasellus pharetra dapibus vulputate. Maecenas faucibus urna nec leo consequat sagittis.</p>
</div>
<p>Maecenas mauris nulla, luctus dapibus ante sit amet, iaculis imperdiet dolor. In ac eros et sapien venenatis tincidunt blandit suscipit nulla. Aenean lobortis augue nisl, bibendum volutpat nulla imperdiet eu. Proin sed tempor diam. Aenean malesuada velit nec tincidunt tempus.</p>
<p>Morbi libero dui, euismod ac mattis id, volutpat a urna. Vivamus aliquam ex id arcu efficitur, et tristique est commodo. Suspendisse euismod bibendum lacus, vitae ultricies est vestibulum in. Curabitur et purus nisl. Phasellus a quam egestas, congue sem quis, fringilla leo. Donec eu massa urna.</p>