<ul class="social-list">
    <li class="social-list__item">
        <a href="#">
            <img src="SKIN/images/icon-system/icon_facebook.svg" alt="">
            <span class="-vis-hidden">Follow us on Facebook</span>
        </a>
    </li>
    <li class="social-list__item">
        <a href="#">
            <img src="SKIN/images/icon-system/icon_twitter.svg'" alt="">
            <span class="-vis-hidden">Follow us on Twitter</span>
        </a>
    </li>
    <li class="social-list__item">
        <a href="#">
            <img src="SKIN/images/icon-system/icon_instagram.sv" alt="">
            <span class="-vis-hidden">Follow us on Instagram</span>
        </a>
    </li>
    <li class="social-list__item">
        <a href="#">
            <img src="SKIN/images/icon-system/icon_youtube.svg'" alt="">
            <span class="-vis-hidden">Follow us on YouTube</span>
        </a>
    </li>
    <li class="social-list__item">
        <a href="#">
            <img src="SKIN/images/icon-system/icon_pinterest.sv" alt="">
            <span class="-vis-hidden">Follow us on Pinterest</span>
        </a>
    </li>
</ul>