
<button class="button">Standard button</button>
<br><br>
<button class="button button--small">Small Button</button>
<br><br>
<button class="button button--large">Large Button</button>
<br><br>
<button class="button button--alt">Alt Button</button>
<br><br>
<button class="button button--neutral">Neutral Button</button>
<br><br>
<button class="button button--negative">Negative Button</button>
<br><br>
<button class="button button--positive">Positive Button</button>
<br><br>
<button class="button button--block">Button display block</button>
<br><br>
<button class="button button--disabled">Button disabled</button>
