<a href="#" class="-r-arrow-after">Right arrow after</a>
<br>
<a href="#" class="-r-arrow-before">Right arrow before</a>
<br><br>
<a href="#" class="-l-arrow-after">Left arrow after</a>
<br>
<a href="#" class="-l-arrow-before">Left arrow before</a>